*.o
*.a
*.lo
*.la
*.stamp
*.bak
*.tmp
*.swp
.tm*
~*
*~

.deps
.libs

/INSTALL
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libglade-2.0-uninstalled.pc
/libglade-2.0.pc
/libglade-convert
/libglade-zip
/libglade.spec
/libtool
/ltmain.sh
/missing
/mkinstalldirs
/stamp-h1
/test-libglade
